// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/header.scss";

// Screens

// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: $bg;
  color: white;
}
