doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        include partials/header.pug
        main
            block content
        include partials/footer.pug
    //- assets/js/main.js파일을 base.pug로 불러오기
    script(src="/static/js/main.js") 