include mixins/message

doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        if messages.error 
            +message("error", messages.error)
        if messages.info 
            +message("info", messages.info)
        if messages.success 
            +message("success", messages.success)
        include partials/header.pug
        main
            block content
        include partials/footer.pug
    script(src="/static/js/main.js")
    //- 모든 JS 파일을 모든 페이지에 로드 하고 싶지 않아서~
    block scripts