extends base.pug

block content 
    //- /uploads/videos/파일이름 으로 나올 것이다.
    video(src="/" + video.fileUrl, controls)
    div 
        p=video.description
        small=video.createdAt 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;