nav 
    ul
        li.main-menu  Career
        li.main-menu  가수
                ul.sub-menu
                    li The Project
                    li 그리고.. 
                    li 마지막 그 한마디
                    li 숲 
                    li Tonight 
                    li 연애시대
                    li 지금부터 사랑해
                    li 정신이 나갔었나봐
                    li Smile Boy 
                    li 처음처럼그때처럼
                    li 사랑이 술을 가르쳐
                    li Shadow 
                    li 결혼해줄래
                    li 여행을 떠나요
                    li 남자가 사랑을 할 때 2
                    li 아직 못다한 이야기
                    li 이별이야기
                    li 남자가 사랑을 할 때
                    li Crazy for you 
                    li 고해
                    li 나방의 꿈
        li.main-menu  배우
                ul.sub-menu 
                    li 마우스 
                    li 배가본드 
                    li 화유기
                    li 궁합
                    li 오늘의 연애
                    li 프로듀사 (특출)
                    li 너희들은 포위됐다
                    li 구가의서
                    li 더킹 투하츠
                    li 최고의 사랑 (특출)
                    li 내 여자친구는 구미호
                    li 찬란한 유산
                    li 소문난 칠공주
                    li 논스톱5
        li.main-menu  MC
                ul.sub-menu 
                    li 싱어게인 1,2
                    li 라우드
                    li 프로듀스48
                    li 강심장 
        li.main-menu  예능인
                ul.sub-menu 
                    li 신세계로부터
                    li 편먹고 공치리 1,2
                    li 서울촌놈
                    li 투게더
                    li 체험 삶의 공장
                    li 리틀포레스트
                    li 집사부일체
                    li 1박 2일 시즌 1