extends ../base.pug

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Current Password", type="password", name="currentPassword")
        input(placeholder="New Password", type="password", name="newPassword")
        input(placeholder="New Password Confirmation", type="password", name="newPasswordConfirmation")
        input(value="Change Password" type="submit")